.page-cart {
  background-color: white;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.185);
  position: absolute;
  top: 5rem;
  right: -30px;
  width: 340px;
  border-radius: 5px;
  z-index: 1;
}
.title-cart {
  border-bottom: 1px solid #1d1f262c;
  padding: 20px;
}
.title-cart h2 {
  font-size: 1rem;
}
.body-cart {
  padding: 1rem;
  height: 160px;
}
.info-kala {
  display: flex;
}
.text-cart {
  width: 14rem;
  margin: 0 1rem;
}
.about-cart {
  /* font-size: 0.9rem; */
  line-height: 1.5rem;
  opacity: 0.75;
}
.image-cart {
  width: 50px;
  overflow: hidden;
  border-radius: 3px;
}
.image-cart img {
  width: 100%;
}
.icon-delete {
  display: flex;
  align-items: center;
  opacity: 0.5;
}
.btn-cart {
  margin: 20px 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.btn-cart button {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--color-orange);
  color: white;
  border-radius: 5px;
  padding: 1rem 0;
}
.defult-info-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
