.menu li,
.icon-cart,
.img-avater {
  cursor: pointer;
}
.navbar {
  color: var(--color-texts);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #1d1f262c;
  height: 6rem;
  position: relative;
}
.logo-and-menu {
  display: flex;
  align-items: center;
  height: 100%;
}
.menu {
  display: flex;
  list-style-type: none;
  padding-inline-start: 30px;
  height: calc(100% - 1px);
  align-items: center;
}
.menu li {
  display: flex;
  align-items: center;
  opacity: 0.75;
  margin: 0 10px;
  font-size: 1rem;
  cursor: pointer;
  height: 100%;
}
.menu li:hover {
  opacity: 1;
  border-bottom: 3px solid var(--color-orange);
  margin-bottom: -3px;
}
.icon-cart-and-img {
  display: flex;
}
.icon-cart {
  display: flex;
  align-items: center;
  margin: 0 30px;
  position: relative;
}
.icon-cart #cart {
  opacity: 0.5;
}
.icon-cart #cart:hover {
  opacity: 1;
}
.icon-cart-count {
  background-color: var(--color-orange);
  position: absolute;
  right: -8px;
  top: 6px;
  font-size: 10px;
  color: white;
  padding: 0.1rem 0.5rem;
  border-radius: 10px;
}
.img-avater {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.img-avater:hover {
  outline: 2px solid var(--color-orange);
}
.img-avater img {
  width: 50px;
  height: auto;
}
