.full-page {
  margin: auto;
  width: 1100px;
}
section {
  display: flex;
  justify-content: space-around;
  margin: 10rem 4rem;
}

@media (max-width: 480px) {
  .full-page {
    margin: auto;
    width: auto;
  }
  section {
    flex-direction: column;
    margin: 0;
  }
}
